<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>公司资讯</title>
<link type="text/css" rel="stylesheet" href="css/main/base.css" />
<link type="text/css" rel="stylesheet" href="css/main/news.css" />

</head>

<body>
<!--顶部-->
<div class="top">
    <b><img src="img/main/logo.jpg" /></b> 
    <ul>
          <li>
              <a th:href="@{/staff_sign_in(staff_id=${session.STAFF_SESSION.staff_id})}">上班卡</a>
              <div class="line2"></div>
              <a th:href="@{/staff_sign_off(staff_id=${session.STAFF_SESSION.staff_id})}">下班卡</a>
              <div class="line2"></div>
              <a th:href="@{/toask_outside_office }">外勤</a>
              <div class="line2"></div>
              <a th:href="@{/logout }">登出</a>    
          </li>
       </ul>     
</div>
<!--banner-->
<div class="banner">
    <img src="img/main/news_bg.jpg" />

</div>
<!--导航-->
<div class="nav">
    <ul>
        <li>
           <a th:href="@{/toMain }" class="English"> 首页</a>
        </li>
        <li>
           <a th:href="@{/toPlatform  }" class="English">进入平台</a>
        </li>
        <li>
           <a th:href="@{/showAllCompanyNews }" class="English">公司资讯</a>
        </li>
        <li>
           <a th:href="@{/showAllCompanyNews }" class="English">市场资讯</a>
        </li>
        <li>
           <a th:href="@{/toSearchLinkage }" class="English">一二手联动</a>
        </li> 
         <li>
           <a th:href="@{/toPersonal(staff_id=${session.STAFF_SESSION.staff_id}) }" class="English">个人中心</a>
        </li>
    </ul>
</div>



<!--当前位置-->
<div class="Position">
   <b><img src="img/main/icon4.gif" /></b>
   <span>首页>></span>
   <p>市场资讯</p>
 
      
</div>

<!--容器-->
<div class="Container">

     <div class="Container_left">
<!--产品信息左-->
           <div class="Products_left">
              <ul>
              <p></p>
              <li><img src="img/main/bg_news_left.gif" /></li>
              </ul>     
           </div>
<!--联络我们左-->
      <div class="Contact_left">
               <div class="news_title">     
                         <b><img src="img/main/icon2.gif" /></b>   
                         <span>耳边轻语上勾拳</span>       
                 </div> 
                 <div class="Contact_text"> 
                         <p><img src="img/main/MeteorStrike.jpg" /></p>
                 </div>
            </div>
     </div>
<!--最新消息-->
     <div class="Container_right">
               <div class="Container_title">
                       <b><img src="img/main/icon.gif" /></b>
                       <p>市场资讯</p>
                       <span>THE LATEST MARKETS NEWS</span>
               </div>
               <div class="news_text">
                     <ul th:each="showMarketsNews:${showMarketsNews}">
                     <img src="img/main/Point1.gif"/>
					 <li><a th:href="@{/showMarketsNewsDetails(Markets_news_id=${showMarketsNews.Markets_news_id})}" th:text="${showMarketsNews.Markets_news_title}"></a></li>
                     </ul>
                           
                                
               </div>
                <div>
            <a th:href="@{/showAllMarketsNews(start=0)}">[首  页]</a>
            <a th:href="@{/showAllMarketsNews(start=${NewsMarketsPage.pageNum-1})}">[上一页]</a>
            <a th:href="@{/showAllMarketsNews(start=${NewsMarketsPage.pageNum+1})}">[下一页]</a>
            <a th:href="@{/showAllMarketsNews(start=${NewsMarketsPage.pages})}">[末  页]</a>
    </div>
    <br/>    
        
     </div>

</div>
<!--底部--> 
<div class="clear"></div>
<div class="bottom">
   <ul>
       <li>
           <a th:href="@{/toMain }" class="English"> 首页</a>
        </li>
        <li>
           <a th:href="@{/toPlatform  }" class="English">进入平台</a>
        </li>
        <li>
           <a th:href="@{/showAllCompanyNews }" class="English">公司资讯</a>
        </li>
        <li>
           <a th:href="@{/showAllMarketsNews }" class="English">市场资讯</a>
        </li>
        <li>
           <a th:href="@{/toSearchLinkage }" class="English">一二手联动</a>
        </li> 
         <li>
           <a th:href="@{/toPersonal(staff_id=${session.STAFF_SESSION.staff_id}) }" class="English">个人中心</a>
        </li>
   </ul>
        <p class="bottom_text">©2016 完平置业有限公司  地址：广州市番禺区洛溪天域网咖  电话：020- 66666666<br />

</div>


</body>

</html>
