<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>放租客户客簿</title>
<link rel="stylesheet" type="text/css" href="css/platform/css.css" />
<script type="text/javascript" src="js/platform/jquery.min.js"></script>
<!-- <script type="text/javascript" src="js/page.js" ></script> -->
</head>
<body>
	<div id="pageAll">
		<div class="pageTop">
			<div class="page">
				<img src="img/platform/coin02.png" />
				<span><a th:href="@{/toPlatform }">后台管理</a>&nbsp;-&nbsp;-</span>&nbsp;放租客户客簿
			</div>
		</div>
		<div class="page">
			<!-- 页面样式 -->
			<div class="connoisseur">
				<div class="conform">
					<form>
						<div class="cfD">
							
						</div>
					</form>
				</div>
				<!--表格 显示 -->
				<div class="conShow">
					<table border="1" cellspacing="0" cellpadding="0">
					
						<tr>
							<td width="66px" class="tdColor tdC">客户ID</td>
							<td width="100px" class="tdColor">客户名</td>
							<td width="200px" class="tdColor">客户性别</td>
							<td width="300px" class="tdColor">客户住址</td>
							<td width="100px" class="tdColor">客户电话</td>
							<td width="100px" class="tdColor">客户备注</td>
							<td width="100px" class="tdColor">经纪人ID</td>
						</tr>
						<tr  th:each="list_client_lease:${list_client_lease}" height="40px">
							<td th:text="${list_client_lease.Client_lid}"></td>
							<td th:text="${list_client_lease.Client_lname}"></td>
							<td th:text="${list_client_lease.Client_lsex}"></td>
							<td th:text="${list_client_lease.Client_laddress}"></td>
							<td th:text="${list_client_lease.Client_lphone}"></td>
							<td th:text="${list_client_lease.Client_lremark}"></td>
							<td th:text="${list_client_lease.Client_lstaffid}"></td>
							
						</tr>
					</table>
					<div class="paging"></div>
				</div>
				<!-- 表格 显示 end-->
			</div>
			<!-- 页面样式end -->
		</div>

	</div>
	<!-- 删除弹出框 -->
	<div class="banDel">
		<div class="delete">
			<div class="close">
				<a><img src="img/platform/shanchu.png" /></a>
			</div>
			<p class="delP1">你确定要删除此条记录吗?</p>
			<p class="delP2">
				<a href="#" class="ok yes">确定</a><a class="ok no">取消</a>
			</p>
		</div>
	</div>
	<!-- 删除弹出框  end-->
</body>
<script type="text/javascript">
// 广告弹出框
$(".delban").click(function(){
  $(".banDel").show();
});
$(".close").click(function(){
  $(".banDel").hide();
});
$(".no").click(function(){
  $(".banDel").hide();
});
// 广告弹出框 end
</script>
</html>