<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>寻房客户客簿</title>
<link rel="stylesheet" type="text/css" href="css/platform/css.css" />
<script type="text/javascript" src="js/platform/jquery.min.js"></script>
<!-- <script type="text/javascript" src="js/page.js" ></script> -->
</head>
<body>
	<div id="pageAll">
		<div class="pageTop">
			<div class="page">
				<img src="img/platform/coin02.png" />
				<span><a th:href="@{/toPlatform }">后台管理</a>&nbsp;-&nbsp;-</span>&nbsp;寻房客户客簿
			</div>
		</div>
		<div class="page">
			<!-- 页面样式 -->
			<div class="connoisseur">
				<div class="conform">
					<form>
						<div class="cfD">
							
						</div>
					</form>
				</div>
				<!--表格 显示 -->
				<div class="conShow">
					<table border="1" cellspacing="0" cellpadding="0">
					
						<tr>
							<td width="66px" class="tdColor tdC">客户ID</td>
							<td width="100px" class="tdColor">客户名</td>
							<td width="88px" class="tdColor">客户性别</td>
							<td width="200px" class="tdColor">客户住址</td>
							<td width="100px" class="tdColor">客户电话</td>
							<td width="200px" class="tdColor">期待地点</td>
							<td width="100px" class="tdColor">期待租价</td>
							<td width="88px" class="tdColor">期待面积</td>
							<td width="200px" class="tdColor">客户备注</td>
							<td width="66px" class="tdColor">经纪人ID</td>
							<td width="66px" class="tdColor">抛至公海</td>
						</tr>
						<tr  th:each="list_client_want_buy:${list_client_want_buy}" height="40px">
							<td th:text="${list_client_want_buy.client_wbid}"></td>
							<td th:text="${list_client_want_buy.client_wbname}"></td>
							<td th:text="${list_client_want_buy.client_wbsex}"></td>
							<td th:text="${list_client_want_buy.client_wbaddress}"></td>
							<td th:text="${list_client_want_buy.client_wbphone}"></td>
							<td th:text="${list_client_want_buy.client_wbexpect_place}"></td>
							<td th:text="${list_client_want_buy.client_wbexpect_price}"></td>
							<td th:text="${list_client_want_buy.client_wbexpect_square}"></td>
							<td th:text="${list_client_want_buy.client_wb_remark}"></td>
							<td th:text="${list_client_want_buy.client_wbstaffid}"></td>
							<td><a th:href="@{/dropClient_want_buy(client_wbid=${list_client_want_buy.client_wbid})}"><img src="img/platform/delete.png"></a></td>
							
						</tr>
					</table>
					<div class="paging"></div>
				</div>
				<!-- 表格 显示 end-->
			</div>
			<!-- 页面样式end -->
		</div>

	</div>
	<!-- 删除弹出框 -->
	<div class="banDel">
		<div class="delete">
			<div class="close">
				<a><img src="img/platform/shanchu.png" /></a>
			</div>
			<p class="delP1">你确定要删除此条记录吗?</p>
			<p class="delP2">
				<a href="#" class="ok yes">确定</a><a class="ok no">取消</a>
			</p>
		</div>
	</div>
	<!-- 删除弹出框  end-->
</body>
<script type="text/javascript">
// 广告弹出框
$(".delban").click(function(){
  $(".banDel").show();
});
$(".close").click(function(){
  $(".banDel").hide();
});
$(".no").click(function(){
  $(".banDel").hide();
});
// 广告弹出框 end
</script>
</html>