<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>已审批租赁交易完成报备</title>
<link rel="stylesheet" type="text/css" href="css/platform/css.css" />
<script type="text/javascript" src="js/platform/jquery.min.js"></script>
<!-- <script type="text/javascript" src="js/page.js" ></script> -->
</head>

<body>
	<div id="pageAll">
		<div class="pageTop">
			<div class="page">
				<img src="img/coin02.png" /><span><a th:href="@{/toMain }">首页</a>&nbsp;-&nbsp;<a th:href="@{/toPlatform }">审批报备</a>&nbsp;-</span>&nbsp;已审批租赁交易完成报备
			</div>
		</div>

		<div class="page">
			<!-- banner页面样式 -->
			<div class="connoisseur">
				<div class="conform">
					<form>
						<div class="cfD">
							工作年限：<select><option>1年以内</option></select> 审核状态：<label><input
								type="radio" checked="checked" name="styleshoice1" />&nbsp;未审核</label> <label><input
								type="radio" name="styleshoice1" />&nbsp;已通过</label> <label class="lar"><input
								type="radio" name="styleshoice1" />&nbsp;不通过</label> 推荐状态：<label><input
								type="radio" checked="checked" name="styleshoice2" />&nbsp;是</label><label><input
								type="radio" name="styleshoice2" />&nbsp;否</label>
						</div>
						<div class="cfD">
							<input class="addUser" type="text" placeholder="输入用户名/ID/手机号/城市" />
							当前登录员工ID：<span th:text="${session.STAFF_SESSION.staff_id}"></span>
							<a th:href="@{/Check_AlreadyDealSalePreparation(staff_id=${session.STAFF_SESSION.staff_id})}">历史审批消息</a>
							<a class="addA addA1" href="connoisseuradd.html">添加行家+</a>
						</div>
					</form>
				</div>
				<!-- banner 表格 显示 -->
				<div class="conShow">
					<table border="1" cellspacing="0" cellpadding="0">
						<tr>
							<td width="50px" class="tdColor tdC">流水号</td>
							<td width="50px" class="tdColor">员工ID</td>
							<td width="50px" class="tdColor">房源SID</td>
							<td width="88px" class="tdColor">实际成交价格</td>
							<td width="100px" class="tdColor">买方姓名</td>
							<td width="50px" class="tdColor">买方性别</td>
							<td width="200px" class="tdColor">买方地址</td>
							<td width="150px" class="tdColor">买方电话</td>
							<td width="100px" class="tdColor">买方备注</td>
							<td width="200px" class="tdColor">合同协议</td>
							<td width="200px" class="tdColor">电表记录</td>
							<td width="200px" class="tdColor">家具清单</td>
							<td width="200px" class="tdColor">房东身份证复印件</td>
							<td width="200px" class="tdColor">房产证复印件</td>
							<td width="200px" class="tdColor">租客身份证复印件</td>
							<td width="80px" class="tdColor">状态</td>
							<td width="150px" class="tdColor">审批时间</td>
						</tr>
						<tr th:each="listDeal_AlreadyrentP:${listDeal_AlreadyrentP}">
							<td th:text="${listDeal_AlreadyrentP.id}"></td>
							<td th:text="${listDeal_AlreadyrentP.staff_id}"></td>
							<td th:text="${listDeal_AlreadyrentP.house_id}"></td>
							<td th:text="${listDeal_AlreadyrentP.deal_price}"></td>
							<td th:text="${listDeal_AlreadyrentP.purchaser_name}"></td>
							<td th:text="${listDeal_AlreadyrentP.purchaser_sex}"></td>
							<td th:text="${listDeal_AlreadyrentP.purchaser_address}"></td>
							<td th:text="${listDeal_AlreadyrentP.purchaser_phone}"></td>
							<td th:text="${listDeal_AlreadyrentP.purchaser_remark}"></td>
							<td><a th:href="@{/showImgRent_agreement(deal_rentpreparation_id=1) }" th:text="${listDeal_AlreadyrentP.agreement_img}" target="_blank"></a></td>
							<td><a th:href="@{/showImgRent_ammeter_record(deal_rentpreparation_id=${listDeal_AlreadyrentP.id}) }" th:text="查看" target="_blank"></a></td>
							<td><a th:href="@{/showImgRent_furniture_record(deal_rentpreparation_id=${listDeal_AlreadyrentP.id}) }" th:text="查看" target="_blank"></a></td>
							<td><a th:href="@{/showImgRent_landlordIDcard_copy(deal_rentpreparation_id=${listDeal_AlreadyrentP.id}) }" th:text="查看" target="_blank"></a></td>
							<td><a th:href="@{/showImgRent_property_copy(deal_rentpreparation_id=${listDeal_AlreadyrentP.id}) }" th:text="查看" target="_blank"></a></td>
							<td><a th:href="@{/showImgRent_purchaserIDcard_copy(deal_rentpreparation_id=${listDeal_AlreadyrentP.id}) }" th:text="查看" target="_blank"></a></td>
							<td th:switch="${listDeal_AlreadyrentP.state}"><p th:case="'0'">待审批</p><p th:case="'1'">已审批</p><p th:case="'-1'">退回</p></td>
							<td th:text="${listDeal_AlreadyrentP.permit_time}"></td>
							   
							<td><a th:href="@{/}"><img class="operation" src="img/platform/update.png"></a> 
							<a th:href="@{/}"><img class="operation delban" src="img/platform/delete.png"></a></td>
							
						</tr>
					</table>
					<div class="paging">此处是分页</div>
				</div>
				<!-- banner 表格 显示 end-->
			</div>
			<!-- banner页面样式end -->
		</div>

	</div>


	<!-- 删除弹出框 -->
	<div class="banDel">
		<div class="delete">
			<div class="close">
				<a><img src="img/shanchu.png" /></a>
			</div>
			<p class="delP1">你确定要删除此条记录吗？</p>
			<p class="delP2">
				<a href="#" class="ok yes">确定</a><a class="ok no">取消</a>
			</p>
		</div>
	</div>
	<!-- 删除弹出框  end-->
</body>

<script type="text/javascript">
// 广告弹出框
$(".delban").click(function(){
  $(".banDel").show();
});
$(".close").click(function(){
  $(".banDel").hide();
});
$(".no").click(function(){
  $(".banDel").hide();
});
// 广告弹出框 end
</script>
</html>